@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap");
@font-face {
  font-family: 'Corsiva';
  src: url(./fonts/corsiva.ttf);
}
* {
  font-family: 'Averia Serif Libre';
  margin: 0;
  box-sizing: border-box;
}
html{
  background-color: #252525;
}
h1, a {
  font-family: 'Corsiva';
}
.cartHover{
  cursor: pointer;
}
.cartHover:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

a:focus, a:visited {
  font-weight: bold;
  color: #0d0d0d;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  transform: scale(1.1);
}
.react-datepicker__time-list-item--disabled {
  display: none;
} 


.react-datepicker__input-container > input {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.custom-input {
  border: none;
    background: #7c0f3c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    border-radius: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 8rem;
}

.custom-input:hover {
    opacity: .5;
}